// Global
// ------
$body-font-family: Verdana, Arial, Helvetica, sans-serif;

// Grid
// ----
$grid-column-gutter: (
  small: 20px,
  medium: 20px,
);

// Thumbnail
// ---------
$thumbnail-border: none;
$thumbnail-radius: 3px;
$thumbnail-shadow: none;

// User
// ----
$spacing: 30px;


// Navigation 
// ----------
nav {
    margin-bottom: $spacing;
}

nav ul.menu {
    border-bottom: 1px solid $light-gray;
    text-transform: uppercase;
}

nav ul.menu li a {
    color: $medium-gray;
}

nav ul.menu li a:hover {
    color: $dark-gray;
}

nav div.top-bar,
nav div.top-bar ul
{
    background-color: $white;
}

// Title image
// -----------
header {
    margin-bottom: $spacing;
}

// Main section 
// ------------
section.gallary-grid {
    margin-bottom: $spacing;
}

// Footer 
// ------
footer ul.menu li a {
    color: map-get($foundation-palette, secondary);
}

footer ul.menu li a:hover {
    color: $medium-gray;
}

footer div.copyright {
    margin-bottom: $spacing;
}

footer div.copyright h6 {
    color: $medium-gray;
    text-align: center;
}

footer div.back-to-site a {
    text-transform: uppercase;
}
