// Global
// ------
$body-font-family: Verdana, Arial, Helvetica, sans-serif;

// Thumbnail
// ---------
$thumbnail-border: none;
$thumbnail-radius: 3px;
$thumbnail-shadow: none;

// User
// ----
$section-bottom-margin: 30px;




// Navigation 
// ----------
nav ul.menu {
    border-bottom: 1px solid $light-gray;
    text-transform: uppercase;
}

nav ul.menu li a {
    color: $medium-gray;
}

nav ul.menu li a:hover {
    color: $dark-gray;
}

nav {
    margin-bottom: $section-bottom-margin;
}

nav div.top-bar,
nav div.top-bar ul
{
    background-color: $white;
}


// Title image
// -----------
section.title-image {
    margin-bottom: $section-bottom-margin;
}

// Main section 
// ------------
section.gallary-grid {
    margin-bottom: $section-bottom-margin;
}

footer ul.menu li a {
    color: map-get($foundation-palette, secondary);
}


// Footer 
// ------
footer ul.menu li a:hover {
    color: $medium-gray;
}

footer div.copyright h6 {
    color: $medium-gray;
}

footer div.row.copyright {
    margin-bottom: $section-bottom-margin !important;
}

footer div.back-to-site a {
    text-transform: uppercase;
}

footer div h6 {
    text-align: center;
}